@use "../../../styles/global";
@use '../ExperienceGlobal.scss';

.experience-modal {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: white;
    position: relative;
    line-height: 1.3;
}

.header-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.details .logo img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.details .left-justified {
    display: flex;
}

.company-location {
    margin-bottom: 10px;
}

.experience-contents {
    padding: 25px 50px;
}

.experience-contents .details {
    display: flex;
    justify-content: space-between;
}

.experience-contents .right-justified {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.details .dates-type {
    text-align: right;
    font-size: 12px;
    margin-top: 10px;
}

.no-wrap {
    white-space: nowrap;
}

.main-details {
    margin: 0px 5px;
    line-height: 1.2;
}

.right-justified .action a {
    text-decoration: none;
}

.right-justified .action {
    display: flex;
    justify-content: flex-end;
}

.right-justified .action .icon {
    padding-top: 2px;
    padding-right: 2px;
}

.right-justified .action button {
    margin: 0px 0px 0px 6px;
}

.additional-details {
    margin-top: 10px;
}

.summary ul {
    list-style-type: "- ";
    margin-left: 13px;
}

.summary ul li {
    margin-bottom: 7px;  
}

.body h4, .body h3, .body h2, .body h1 {
    font-weight: 700;
    margin-bottom: 3px;
}

.body {
    line-height: 1.25;
    font-size: 14px;
}

.body .presentations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.body .presentations .pdf {
    width: 49.5%;
}

.body .presentations iframe {
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.body .additional-details p {
    margin-bottom: 16px;
}

.body .mainHeading {
    font-size: 17px;
}

.body .documentTitle {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media only screen and (max-width: global.$small-device) {
    .experience-contents {
        padding: 25px 30px;
    }
    .body .presentations .pdf {
        width: 100%;
    }
}