@use "../../styles/global";

.education-section {
  margin-top: 40px;
}

.education-section .cards {
  display: flex;
  flex-wrap: wrap;
}

.education-section .title {
  font-size: 25px;
  color: global.$education-color-accent;
  font-weight: 800;
  margin-bottom: 10px;
  margin-left: 5px;
}

.night-mode .education-section .title {
  color: global.$education-color-main;
}
