@use "../../../styles/global";

[data-reach-dialog-content] {
  width: 80%;
  border-radius: 20px;
  margin: 15vh auto;
  padding: 0;
  overflow: scroll;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.day-mode[data-reach-dialog-content] {
  background-color: white;
  color: black;
}

.night-mode[data-reach-dialog-content] {
  background-color: global.$dark-mode-background;
  color: global.$dark-mode-text;
}

[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.5);
}

@media only screen and (max-width: global.$small-device) {
  [data-reach-dialog-content] {
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0 auto;
    border: none;
  }
}
