@use "../../../styles/global";

[data-reach-dialog-content] {
    width: 80%;
    border-radius: 10px;
    margin: 15vh auto;
    padding: 0;
    overflow: scroll;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #707070;
}

.close-modal-button button {
    z-index: 2;
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 0;
    opacity: 0.8;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: global.$icon-color;
}

.close-modal-button button svg {
    width: 20px;
    height: 20px;
}

.close-modal-button button:hover {
    background-color: #e4e4e4;
    color: darken(global.$icon-color, 30%);
}

@media only screen and (max-width: global.$small-device) {
    [data-reach-dialog-content] {
        width: 100%;
        height: 100%;
        border-radius: 0;
        margin: 0 auto;
        border: none;
    }
}
