// colors
$experience-card-accent: #027AC9;
$project-card-accent: #404745;
$card-border: #707070;
$icon-color: $card-border;

// breakpoints
$small-device: 1240px;
$carousel-breakpoint-small: 505px;

// font sizes
$card-level1-heading: 18px;
$card-level2-heading: 15px;

// misc
$long-text-line-height: 1.25;