@use '../../../../styles/global';

.expand button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparentize(#cccccc, 0.3);
    color: global.$icon-color;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

.expand button svg {
    width: 50%;
    height: 50%;
}

.expand button:hover {
    background-color: darken(transparentize(#cccccc, 0.3), 20%);
    color: darken(global.$icon-color, 30%);
}

@media only screen and (max-width: global.$small-device) {
    .expand button {
        display: flex;
    }
}