@use '../../../styles/global';

.slideshow {
    margin-top: 50px;
}

.slide div {
    margin: 40px;
}

.selected div {
    transform: scale(1.2);
    transition: 0.45s;
}

@media only screen and (max-width: global.$small-device) {
    .slide div {
        margin: 30px;
    }
}

@media only screen and (max-width: global.$medium-device) {
    .slide div {
        margin: 20px;
    }
}