@use '../../../styles/global';

.swiper {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
}

.swiper-slide img {
    display: block;
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
}

.slideshow {
    margin-top: 20px;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

@media only screen and (max-width: global.$carousel-breakpoint-small) {
    .swiper-slide img {
        border-radius: 0px;
    }
    .slideshow {
        margin-top: 0px;
    }
    .swiper-button-prev, .swiper-button-next {
        display: inline;
        color: white;
    }
    .swiper {
        height: 300px;
    }
}