.owl-theme .item img {
    border-radius: 5px;
}

.owl-theme .item {
    border-radius: 5px;
}

.item {
    margin: 20px;
}

.owl-carousel .owl-stage-outer {
    margin-top: 20px;
}

.owl-item img {
    transition: 0.45s;
}

.owl-item.center img {
    transform: scale(1.2);
}