@use '../../styles/global';

.position h1 {
    font-size: 18px;
    font-weight: 700;
    color: global.$experience-card-accent;
}

.details .company {
    font-size: 18px;
    font-weight: 600;
}

.dates {
    font-size: 12px;
}

.logo img {
    border-radius: 3px;
}