@use "../../styles/global";

.experience .position h1 {
  font-size: global.$card-level1-heading;
  font-weight: 700;
}

.experience .details .company {
  font-size: global.$card-level2-heading;
  font-weight: 600;
}

.experience .dates {
  font-size: 12px;
}

.experience .logo img {
  background-color: white;
  border-radius: 10px;
  border: 3px solid white;
  transition: transform 0.2s ease-in-out;  /* animation duration and easing function */
}
