.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    padding-left: 25px;
}

.profile img {
    border-radius: 50%;
}

.text .name, .text .position {
    font-size: 35px;
    padding-left: 20px;
}

.text .position {
    color: gray;
    padding-top: 10px;
}