$card-accent: #0081d4;
$card-border: #707070;

.card {
    border: 1px solid $card-border;
    border-radius: 10px;
    padding: 30px;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 275px;
    line-height: 1.5;
}

@media only screen and (max-width: 1090px) {
    .card {
        width: 100vw;
    }
}

.position h1 {
    font-size: 22px;
    font-weight: 700;
    color: $card-accent;
}

.details .company {
    font-size: 18px;
    font-weight: 600;
}

.details .location {
    font-size: 10px;
    font-weight: 700;
    background-color: $card-accent;
    color: white;
    padding: 1px 4px;
    margin: 3px;
    border-radius: 4px;
    display: inline-block;
}

.description .text {
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.description .dates {
    font-size: 12px;
}

.action .moreButton {
    padding: 5px 15px;
    border-radius: 20px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 15px;
    background-color: white;
    border: 1px solid $card-border;
    margin-top: 15px;
}

.action .moreButton:hover {
    cursor: pointer;
    transition: all .1s ease-in-out;
    transform: scale(1.05) perspective(1px);
}