@use "../../styles/global";

.organization-section {
  margin-top: 40px;
}

.organization-section .cards {
  display: flex;
  flex-wrap: wrap;
}

.organization-section .title {
  font-size: 25px;
  color: global.$organization-color-accent;
  font-weight: 800;
  margin-bottom: 10px;
  margin-left: 5px;
}

.night-mode .organization-section .title {
  color: global.$organization-color-main;
}

.organization .role h1 {
  font-size: global.$card-level2-heading;
  font-weight: 700;
}

.organization .details .name {
  font-size: global.$card-level1-heading;
  font-weight: 600;
}

.organization .dates {
  font-size: 12px;
}