@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,700&display=swap');

.app {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 30px auto auto;
    max-width: 1050px;
    padding: 25px;
}