@use "../../../styles/global";

[data-reach-dialog-content] {
    width: 80%;
    border-radius: 10px;
    margin: 15vh auto;
    padding: 0;
    overflow: scroll;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.experience-modal {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    line-height: 1.3;
}

.header-image img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.close-modal-button button {
    background-color: white;
    border: none;
    border-radius: 50%;
    opacity: 0.8;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: global.$icon-color;
}

.close-modal-button button svg {
    width: 20px;
    height: 20px;
}

.close-modal-button button:hover {
    background-color: #e4e4e4;
    color: darken(global.$icon-color, 30%);
}

.details .logo img {
    width: 50px;
    height: 50px;
}

.details .left-justified {
    display: flex;
}

.company-location {
    margin-bottom: 10px;
}

.experience-contents {
    padding: 25px 50px;
}

.experience-contents .details {
    display: flex;
    justify-content: space-between;
}

.experience-contents .right-justified {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.details .dates {
    text-align: right;
    margin-top: 10px;
}

.main-details {
    margin: 0px 5px;
    line-height: 1.2;
}

.site-button,
.linkedin-button {
    display: inline-flex;
}

.right-justified .action a {
    text-decoration: none;
}

.right-justified .action {
    display: flex;
}

.right-justified .action .icon {
    padding-top: 2px;
    padding-right: 2px;
}

.right-justified .action button {
    margin: 0px 0px 0px 6px;
}

.body .summary h4,
.body .additional-details h4 {
    font-weight: 700;
}

.additional-details {
    margin-top: 10px;
}

.summary ul {
    list-style-type: "- ";
    margin-left: 15px;
}

@media only screen and (max-width: global.$small-device) {
    [data-reach-dialog-content] {
        width: 100%;
        height: 100%;
        border-radius: 0;
        margin: 0 auto;
    }

    .header-image img {
        border-radius: 0;
    }

    .experience-contents {
        padding: 25px 30px;
    }
}